fieldset {
    margin:auto;
    width: 300px;
    height: 100px;
    border: #AFDCEC solid;
  }
  
  form {
    margin: 30px 20px 0 35px;
    text-align: center;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 15px 15px;
  }
  
  label {
    font-size: 15px;
  }

  a:link {
    color: black;
  }
